---
layout: archive
title: "Photos"
permalink: /photos/
author_profile: true
---

{% include base_path %}

<div class="archive__item-grid">
  {% for photo in site.photos %}
    <div class="grid__item">
      {% if photo.header and photo.header.teaser %}
        {% assign image_path = photo.header.teaser %}
      {% elsif photo.teaser %}
        {% assign image_path = photo.teaser %}
      {% else %}
        {% assign image_path = site.teaser %}
      {% endif %}

      {% if image_path %}
        <div class="archive__item-teaser">
          <a href="{{ base_path }}{{ photo.url }}">
            <img src="{% if image_path contains "://" %}{{ image_path }}{% else %}{{ image_path | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="{{ photo.title | default: 'Photo' }}">
          </a>
        </div>
      {% endif %}

      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ photo.url }}" rel="permalink">{{ photo.title }}</a>
      </h2>
      {% if photo.description %}
        <p class="archive__item-excerpt" itemprop="description">{{ photo.description }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>